<!DOCTYPE html>
<html lang="en">
<head>
<title>SecSoc phOWNbok</title>
<link href="{{url_for('static', filename='min.css')}}") rel="stylesheet">
</head>
<body><div class="container">
    <div class="content">
        <form method="POST">
            <h1>SecSoc Phonebook</h1>
            <legend>Here you can look up everyone in our phonebook.</legend>
            <legend>Except our administrator of course!</legend>
            <br>
            <input type="text" placeholder="Username" name="username">
            <button type="submit">Search</button>
        </form>
        <br>
        <h3>{{ searchTerm }}</h3>
        {% if results %}
        <h4>Name: {{ results[0] }}</h4>
        <h4>Email: {{ results[1] }}</h4>
        <h4>Notes: {{ results[2] }}</h4>
        <!--{{ results[3] }}-->
        {% else %}
        <h4>{{ msg }}</h4>
        {% endif %}
    </div>
</div></body>
</html>
